@charset "UTF-8";

@font-face {
  font-family: "food-icon";
  src:url("../fonts/food-icon.eot");
  src:url("../fonts/food-icon.eot?#iefix") format("embedded-opentype"),
    url("../fonts/food-icon.woff") format("woff"),
    url("../fonts/food-icon.ttf") format("truetype"),
    url("../fonts/food-icon.svg#food-icon") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "food-icon" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="fi-"]:before,
[class*=" fi-"]:before {
  font-family: "food-icon" !important;
  font-size: 7.5em;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fi-palm-wine:before {
  content: "\61";
}
.fi-rice-pot:before {
  content: "\63";
}
.fi-puff-puff:before {
  content: "\64";
}
.fi-plantain:before {
  content: "\65";
}
.fi-mortar-and-pestle:before {
  content: "\66";
}
.fi-eba:before {
  content: "\67";
}
.fi-palm-wine:before {
  content: "\62";
}
.fi-moi-moi:before {
  content: "\68";
}
.fi-suya:before {
  content: "\69";
}
.fi-akpoti:before {
  content: "\61";
}
.fi-plate:before {
  content: "\6a";
}
.fi-fork:before {
  content: "\6b";
}
.fi-knife:before {
  content: "\6c";
}
.fi-spoon:before {
  content: "\6d";
}
.fi-bowl:before {
  content: "\6e";
}
.fi-mango:before {
  content: "\6f";
}
.fi-egg:before {
  content: "\70";
}
.fi-eggs:before {
  content: "\71";
}
.fi-bread:before {
  content: "\73";
}
.fi-frying-pan:before {
  content: "\72";
}
.fi-banana:before {
  content: "\74";
}
.fi-chicken-lap:before {
  content: "\75";
}
.fi-juice:before {
  content: "\76";
}
.fi-long-cup:before {
  content: "\77";
}
.fi-mug:before {
  content: "\78";
}
.fi-omorogun:before {
  content: "\79";
}
.fi-orange:before {
  content: "\7a";
}
.fi-paw-paw:before {
  content: "\41";
}
.fi-plastic-bottle:before {
  content: "\42";
}
.fi-yam:before {
  content: "\43";
}